body {
    margin: 30px;
    padding: 0px;
    background: linear-gradient(to left, rgb(45,38,74), rgb(32,32,36));
}

#menu {
    padding: 30px;
    background-color: rgba(20,33,61,0.7);
    width: 80%;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    top: 50%;
    right: 0;
}

.font {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

#img {
    width: 300px;
    height: 150px;
    text-align: center;
}

#name {
    text-decoration: none;
    width: 300px;
    border-radius: 5px;
    height: 20px;
    padding-left: 3px;
}

#button {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    height: 52px;
    width: 250px;
    cursor: pointer;
    font-size: 36px;
    color: #FFFFFF;
    border-color: transparent;
}

#canto_esq {
    float: left;
}

#canto_dir {
    right: 98px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: transparent;
    float: right;
}

.container button {
    outline: none;
    text-decoration: none;
    width: 225px;
    font-size: 15px;
    padding: 3px 5px;
    border: 3px solid rgb(130, 87, 230); 
    background: transparent;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px dashed rgb(130, 87, 230) !important;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    padding: 19px 40px;
}
.upload-btn input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 18px;
    opacity: 0;
}



.upload_img {

    display: inline-block;
    border: 3px solid rgb(130, 87, 230);
    width: 200px;
    height: 200px;
    margin-left: 9px;
}